<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
   <script src="https://cdnjs.cloudflare.com/ajax/libs/vis/4.21.0/vis.min.js" 
    integrity="sha512-XHDcSyqhOoO2ocB7sKOCJEkUjw/pQCJViP1ynpy+EGh/LggzrP6U/V3a++LQTnZT7sCQKeHRyWHfhN2afjXjCg==" crossorigin="anonymous"></script>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/vis/4.21.0/vis-network.min.css" integrity="sha512-NJXM8vzWgDcBy9SCUTJXYnNO43sZV3pfLWWZMFTuCtEUIOcznk+AMpH6N3XruxavYfMeMmjrzDMEQ6psRh/6Hw==" crossorigin="anonymous" />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/vis/4.21.0/vis.min.css" integrity="sha512-8OVtKyemDe8Koi/74dnSJughhkwnzqq217zUtUumyvx0Z0kF6H0YYFobH2kEYjKMNq2xNQyN64dnleqecTSL0A==" crossorigin="anonymous" />
</head>

<body>
  <h2>Weighted DiGraph</h2>
  <div id="mynetwork"></div>
  <button onclick="solve()">Resolver</button>

  <input type="text" id="start" placeholder="start"/>
  <input type="text" id="goal" placeholder="goal"/>

  <script src="//cdnjs.cloudflare.com/ajax/libs/socket.io/2.2.0/socket.io.js"
      integrity="sha256-yr4fRk/GU1ehYJPAs8P4JlTgu0Hdsp4ZKrx8bDEDC3I=" crossorigin="anonymous"></script>
  
  <script type="text/javascript" charset="utf-8">
    let socket = io();
    socket.on('update', function (data) {
      updateGraph(data.ids);
    });
  </script>

  <script>
    var nodes = []
    var edges = []
    var object = [
      {
        'node1': 'portugues',
        'node2': 'espanhol',
        'word': 'amigo'
      },
      {
        'node1': 'ingles',
        'node2': 'espanhol',
        'word': 'red'
      },
      {
        'node1': 'ingles',
        'node2': 'espanhol',
        'word': 'actual'
      },
      {
        'node1': 'ingles',
        'node2': 'frances',
        'word': 'date'
      }
    ]
    var languages = [];
    var network = {};
    var vis_edges = {};
    var vis_nodes = {};

    function shuffle(array) {
      let i = array.length;
      let randomized = [];
      let j = 0;

      while (i--) {
        j = Math.floor(Math.random() * (i + 1));
        randomized.push(array[j]);
        array.splice(j,1);
      }

      return randomized;
    }
    
    function solve() {
      const start = document.getElementById('start').value;
      const goal = document.getElementById('goal').value;
      socket.emit('solve', { graph: languages, start: start, goal: goal});
    }

    function createGraph(){
      languages = shuffle([...object]);
      console.log(languages);
      for(let i = 0; i < 4; i++){
        if(nodes.filter(e => e.id === languages[i].node1).length == 0){
          nodes.push({id: languages[i].node1, label: languages[i].node1});
        }
        if(nodes.filter(e => e.id === languages[i].node2).length == 0){
          nodes.push({id: languages[i].node2, label: languages[i].node2});
        }

        edges.push({
          id: languages[i].word,
          arrows: '', 
          from: languages[i].node1, 
          to: languages[i].node2,
          length: 150,
          label: languages[i].word,
          width: 5,
          color: {
            color: 'red',
          }
        });

        console.log('Edges ' + edges + 'Nodes ' + nodes);
        
        vis_nodes = new vis.DataSet(nodes);
        vis_edges = new vis.DataSet(edges);

        var container = document.getElementById('mynetwork');
        var data = {
            nodes: vis_nodes,
            edges: vis_edges
        };
        console.log(data);
        var options = {
          height: "600px",
          clickToUse: false,
        };
        network = new vis.Network(container, data, options);
        // console.log(network);
      }
    }

    function updateGraph(distances) {
      console.log(vis_edges);
      let keys = Object.keys(vis_edges._data);

      for (let i = 0; i < distances.length; i++) {
        console.log(distances[i]);
        vis_edges.update({id: keys[i], color: {color: 'red'}});
      }


      for (let i = 0; i < distances.length; i++) {
        console.log(distances[i]);
        vis_edges.update({id: distances[i], color: {color: 'green'}});
      }

    }

    createGraph()
  </script>
    
</body>

</html>
<style>
</style>