<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
   <script src="https://cdnjs.cloudflare.com/ajax/libs/vis/4.21.0/vis.min.js" 
    integrity="sha512-XHDcSyqhOoO2ocB7sKOCJEkUjw/pQCJViP1ynpy+EGh/LggzrP6U/V3a++LQTnZT7sCQKeHRyWHfhN2afjXjCg==" crossorigin="anonymous"></script>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/vis/4.21.0/vis-network.min.css" integrity="sha512-NJXM8vzWgDcBy9SCUTJXYnNO43sZV3pfLWWZMFTuCtEUIOcznk+AMpH6N3XruxavYfMeMmjrzDMEQ6psRh/6Hw==" crossorigin="anonymous" />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/vis/4.21.0/vis.min.css" integrity="sha512-8OVtKyemDe8Koi/74dnSJughhkwnzqq217zUtUumyvx0Z0kF6H0YYFobH2kEYjKMNq2xNQyN64dnleqecTSL0A==" crossorigin="anonymous" />
</head>

<body>
  <h2>Dijkstra - Babel</h2>
  <p>Este trabalho foi adaptado do exercício do <a href="https://www.urionlinejudge.com.br/judge/pt/problems/view/1085">URI</a>. O grafo foi construído com algumas palavras que são comuns a mais de um idioma, mesmo que não necessariamente tenham o mesmo significado.</p>
  <p>Insira um idioma de origem e um de destino para que seja criado o menor caminho entre eles. O menor caminho é calculado utilizando o algoritmo de Dijkstra com o tamanho das palavras sendo o peso das arestas.</p>
  <input type="text" id="start" placeholder="Origem"/>
  <input type="text" id="goal" placeholder="Destino"/>
  <button onclick="solve()">Buscar caminho</button>
  <button onclick="createGraph()">Gerar novo Grafo</button>
  <p id="msg"></p>

  <div id="mynetwork"></div>
  <script src="//cdnjs.cloudflare.com/ajax/libs/socket.io/2.2.0/socket.io.js"
      integrity="sha256-yr4fRk/GU1ehYJPAs8P4JlTgu0Hdsp4ZKrx8bDEDC3I=" crossorigin="anonymous"></script>
  
  <script type="text/javascript" charset="utf-8">
    let socket = io();
    socket.on('update', function (data) {
      updateGraph(data.ids);
    });
  </script>

  <script>
    var nodes = []
    var edges = []
    var object = [
      {
        'node1': 'portugues',
        'node2': 'espanhol',
        'word': 'amigo'
      },
      {
        'node1': 'ingles',
        'node2': 'espanhol',
        'word': 'red'
      },
      {
        'node1': 'ingles',
        'node2': 'espanhol',
        'word': 'actual'
      },
      {
        'node1': 'ingles',
        'node2': 'frances',
        'word': 'date'
      },
      {
        'node1': 'ingles',
        'node2': 'holandes',
        'word': 'bad'
      },
      {
        'node1': 'ingles',
        'node2': 'alemao',
        'word': 'gift'
      },
      {
        'node1': 'espanhol',
        'node2': 'italiano',
        'word': 'burro'
      },
      {
        'node1': 'ingles',
        'node2': 'alemao',
        'word': 'fast'
      },
      {
        'node1': 'italiano',
        'node2': 'espanhol',
        'word': 'vela'
      },
      {
        'node1': 'ingles',
        'node2': 'espanhol',
        'word': 'tuna'
      },
      {
        'node1': 'italiano',
        'node2': 'portugues',
        'word': 'prego'
      },
      {
        'node1': 'portugues',
        'node2': 'espanhol',
        'word': 'largo'
      }
    ]
    var languages = [];
    var network = {};
    var vis_edges = {};
    var vis_nodes = {};

    window.onload=function(){
       createGraph()
    }

    function shuffle(array) {
      let i = array.length;
      let randomized = [];
      let j = 0;

      while (i--) {
        j = Math.floor(Math.random() * (i + 1));
        randomized.push(array[j]);
        array.splice(j,1);
      }

      return randomized;
    }
    
    function solve() {
      const start = document.getElementById('start').value;
      const goal = document.getElementById('goal').value;
      let graph = [];

      for(let i = 0; i < edges.length; i++){
        graph.push({'node1': edges[i].from, 'node2': edges[i].to, 'word': edges[i].id})
      }

      socket.emit('solve', { graph: graph, start: start, goal: goal});
    }

    function createGraph(){
      languages = shuffle([...object]);
      edges = [];
      nodes = [];

      for(let i = 0; i < 6; i++){
        if(nodes.filter(e => e.id === languages[i].node1).length == 0){
          nodes.push({id: languages[i].node1, label: languages[i].node1});
        }
        if(nodes.filter(e => e.id === languages[i].node2).length == 0){
          nodes.push({id: languages[i].node2, label: languages[i].node2});
        }

        edges.push({
          id: languages[i].word,
          arrows: '', 
          from: languages[i].node1, 
          to: languages[i].node2,
          length: 150,
          label: languages[i].word,
          width: 5,
          color: {
            color: 'red',
          }
        });
        
        vis_nodes = new vis.DataSet(nodes);
        vis_edges = new vis.DataSet(edges);

        var container = document.getElementById('mynetwork');
        var data = {
            nodes: vis_nodes,
            edges: vis_edges
        };

        var options = {
          height: "600px",
          clickToUse: false,
          interaction: {zoomView: false}
        };
        network = new vis.Network(container, data, options);
      }
    }

    function updateGraph(distances) {
      let keys = Object.keys(vis_edges._data);
      
      if(distances.length == 0){
        document.getElementById("msg").innerHTML = 'Não existe caminho entre esses idiomas';
      }

      for (let i = 0; i < distances.length; i++) {
        vis_edges.update({id: keys[i], color: {color: 'red'}});
      }

      for (let i = 0; i < distances.length; i++) {
        vis_edges.update({id: distances[i], color: {color: 'green'}});
      }

    }
  </script>
    
</body>

</html>
<style>
#msg {
    font-family: Sans-serif;
    color: red;
    margin-top: -6px;
    font-size: 13px;
}

button {
    background-color: #4CAF50;
    border: none;
    border-radius: 38px;
    color: white;
    padding: 9px 25px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}

h2, p{
   font-family: Sans-serif;
}

</style>